<div>
    <h1> GigaSpaces Cloud Usage Report </h1>
    <h2>Generate at {{raw.timestamp | date:'short'}}</h2>

    <table  class="tabular-view overview">
        <tr>
            <td ng-repeat="summaryItem in data.summaryItems">
                {{summaryItem.title}}<br/>
                {{summaryItem.total}}
            </td>
        </tr>
    </table>
    <table  class="tabular-view breakdown">
        <tr ng-repeat="summaryItem in data.summaryItems" >
            <td>
                {{summaryItem.title}}<br/>
                {{summaryItem.total}}
            </td>
            <td>
                <table >
                    <tr ng-repeat="subItem in summaryItem.subItems"> <td>{{subItem.title}}<br/>{{subItem.total}}</td> <td><button ng-click="showDetails(subItem)">inspect</button></td></tr>
                </table>
            </td>
        </tr>
    </table>


    <div id="details" ng-show="details" class="details" >
        <h1>Details for {{details.account}} - {{details.total}}</h1>
        <table class="tabular-view details">
            <tr ng-repeat="d in details.details"><td>{{d.id}}</td><td>{{d.description}}</td></tr>
        </table>
    </div>



</div>